{{#each elevatorService.elevators as |elev|}}
  <div class="single-elev">
    <div class="elevator-display">
      <p>
        {{#if (and elev.isInTransit elev.isGoingUp)}}
          <span class="going-up">/\ </span>
        {{else if (and elev.isInTransit (not elev.isGoingUp))}}
          <span class="going-down">\/ </span>
        {{/if}}
        Floor: {{elev.currentFloor}}
      </p>
    </div>
    <div class="elevator-doors {{if (and elev.isDoorOpen (eq elev.currentFloor activeFloor)) 'open-doors'}}"></div>
  </div>
{{/each}}

<div class="call-panel">
  {{#if (not (eq activeFloor 20))}}
    {{#rad-button
      click=(action "callElevator" true )}}
      /\
    {{/rad-button}}
  {{/if}}
  {{#if (not (eq activeFloor 1))}}
    {{#rad-button
      click=(action "callElevator" false)}}
      \/
    {{/rad-button}}
  {{/if}}
</div>
